@import "../fonts/Montserrat/static";
@import './normalize.css';

:root {
    --color-1: #000000;
    --color-2: #FFFFFF;
    --color-3: #000;

    --text-color_1: var(--color-1);
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
}
/*--------------------------- blocks ---------------------------*/
.container {
    margin-left: auto;
    margin-right: auto;
    min-width: 320px;
    max-width: 1440px;
}

button {

}
/*--------------------------- header ---------------------------*/
.header_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_logo {
    width: auto;
    height: 5rem;
}

.header_img {
    height: 100%;
}

.header_title {
    padding: 3rem;
}

.header_title h1 {
    font-weight: 800;
    font-size: 60px;
    line-height: 73px;
    text-align: center;
    text-transform: uppercase;
    color: var(--text-color_1);
}

.header_description {
    padding: 3rem;
}

.header_description p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--text-color_1);
}

.header_registration-button {
    width: 167px;
    height: 42px;

    background: #000000;
    border-radius: 10px;
}