@import "../fonts/Montserrat/static";
@import './normalize.css';

:root {
    --black: #000000;
    --white: #FFFFFF;
    --red: #FF0038;

    --text: #1F1F1F;

    /*--------------------------- delete ---------------------------*/
    --text_1: var(--black);

    --color-3: #000;
    --color-4: rgba(217, 217, 217, 0.1);

    --bg_primary: var(--white);
    --bg_secondary: var(--white);

    --header_text-color: var(--black);

    --button_bg-color__1: var(--black);
    --button_text-color__1: var(--white);

    --border_1: var(--black);
}
body {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    background-color: var(--white);
}
/*--------------------------- blocks ---------------------------*/
.container {
    margin-left: auto;
    margin-right: auto;
    min-width: 320px;
    max-width: 1350px;
    padding: 0 1rem;
}
.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header {
    max-width: 80%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    color: var(--text);
    font-size: 3rem;
    line-height: 59px;
}
button {
    border: 0;
    background-color: transparent;
}
/*--------------------------- hero ---------------------------*/
.hero {
    padding: 3rem 0 5rem 0;
    background-color: var(--bg_primary);
    background-image: url("../img/hero/bg.png");
    background-repeat: no-repeat;
    background-position: center;
}
.hero_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.hero_content > div:nth-child(2) {
    margin-bottom: 5rem;
}
.hero_content > div:nth-child(3) {
    margin-bottom: 2.5rem;
}
.hero_content > div:nth-child(4) {
    margin-bottom: 3rem;
}
.hero_login {
    position: absolute;
    top: 0;
    right: 1rem;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--black);
    border-radius: 3rem;
}
.hero_login-link {
    display: flex;
    justify-content: center;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: var(--black);
}
.hero_logo {

}
.hero_img {
    width: auto;
    height: 5rem;
}
.hero_title {

}
.hero_title h1 {
    font-weight: 800;
    font-size: 3.75rem;
    line-height: 4.5rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--text);
}
.hero_description {
    display: flex;
    justify-content: center;
    max-width: 23rem;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--text);
}
.hero_registration {
    text-align: center;
    background: var(--red);
    border-radius: 3.75rem;
}
.hero_registration-link {
    padding: 1.25rem 1.5rem;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: var(--white);
}
/*--------------------------- how ---------------------------*/
.how {
    padding: 4rem 0 0 0;
}
.how_content {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    gap: 2rem;
}
.how_title {

}
.how_header {

}
.how_main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3rem;
}
.how_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30%;
    padding: 2rem 0.5rem;
    background: var(--white);
    border-radius: 2rem;
}
.how_item:hover {
    box-shadow: 3px 6px 36px rgba(0, 0, 0, 0.17);
}

.how_picture {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 114px;
    margin: 2rem;
}
.how_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.how_subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    padding: 0 0 20px 0;
    text-align: center;
    color: var(--text);
}
.how_description {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;

    color: #000000;
    padding: 0 4rem 0;
    text-align: center;

}
/*--------------------------- func ---------------------------*/
.func {
    padding: 2rem 0 0 0;
}
.func_content{
    background: #FF0038;
    border-radius: 2rem;
}
.func_main {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;

    /*mix-blend-mode: overlay;*/
}
.func_row {
    display: flex;
    justify-content: space-between;
}
.c_item-container {
}
.c_item-container__1 {
    flex-shrink: 4;
}
.c_item-container__2 {
    margin: 0 30px 0 50px;
    flex-shrink: 4;
}
.c_item-container__3 {
    margin: 0 35px 0 0;
    flex-shrink: 4;
}
.c_item-container__4 {
    flex-shrink: 6;
}
.c_item-container__1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.c_item-container__2,
.c_item-container__3,
.c_item-container__4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}
.c_item {
    padding: 50px;
    background: #F3F3F3;
    border-radius: 10px;
}
/*--------------------------- d ---------------------------*/
.d {
    height: 600px;
    padding: 80px 0 0 0;
    margin: 0 0 400px 0;
    background-color: rgba(217, 217, 217, 0.3);
}
.d_content {
}
.d_title {
}
.d_main {
    height: 650px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 50px;
    padding: 150px 2rem 0;
}
.d_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    background-color: rgba(217, 217, 217, 0.5);
}
.d_item:last-child {
    align-self: flex-end;
}
.d_item-header {
    padding: 0 0 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 48px;
    line-height: 59px;
    text-transform: uppercase;
}
.d_item-sub-header {
    padding: 30px 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}
.d_button-container {
    padding: 10px 20px;
    background: #000000;
    border-radius: 10px;
}
.d_button {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}
/*--------------------------- e ---------------------------*/
.e {
    padding: 0 0 100px;
}
.swiper {
    width: 100%;
    height: 300px;
}
.swiper-slide {
    display: flex;
    justify-content: center;
}
.slide-container {
    max-width: 900px;
    padding: 30px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}
.slide-person {
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.slide-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}
.swiper-button-next,
.swiper-button-prev {
    color: var(--black);
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    /*color: var(--color-1);*/
}
.swiper-pagination-bullet {
    background: var(--black);
    opacity: 0.2;
}
.swiper-pagination-bullet-active {
    background: var(--black);
    opacity: 1;
}
/*--------------------------- f ---------------------------*/
.f {
    padding: 20px 0 0;
}
.f_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.f_speech {
    padding: 30px;
    border-radius: 20px;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}
.f_question {
    margin-bottom: 20px;
    background: #D9D9D9;
    font-weight: 600;
}
.f_answer {
    align-self: flex-end;
    margin: 0 0 50px 350px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-weight: 400;
}
/*--------------------------- footer ---------------------------*/
footer {
    padding: 50px 0;
    background-color: var(--color-4);
}
.footer_content {
    display: flex;
    justify-content: space-between;
}
.footer_item {
    flex-shrink: 1;
    flex-basis: 30%;
    display: flex;
}
.footer_item:first-child {
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer_item:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.footer_link {
    flex-basis: 40%;
    padding: 16px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
.footer_logo {
    margin-bottom: 20px;
}
.footer_logo__img {
    width: 250px;
    height: auto;
}
.footer_item:last-child {
    display: flex;
    justify-content: flex-end;
    padding: 40px 0 0 0;
}
.footer_social-network {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 40px;
    background: #D9D9D9;
}
/*--------------------------- media queries ---------------------------*/
@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
    .hero_main {
        flex-wrap: nowrap;
        padding: 2rem 0;
    }
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
